{% extends 'baseHtml.html' %}{% load static %} {% block title %}Create Store{% endblock %} {% block navigation %}
<li><a href="{% url 'home' %}">Home</a></li>
<li><a href="{% url 'store' %}">Shop</a></li>
<li><a href="{% url 'cart' %}">Cart</a></li>
<li><a href="{% url 'checkout' %}">Checkout</a></li>
<li><a href="#">Contact</a></li>
{% endblock %} {% block content %}
<div class="container">
    <div class="add_prod">
        <h1 class="my-5 header text-uppercase">Create Store</h1>
        <hr>
        <div class="add_prod_form">
            <form class="mt-5 ">
                <fieldset>
                    <!-- Owner's Name and Store Name-->
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="col">
                                    <p class="form-control-static">Owner</p>
                                </div>
                                <div class="col">
                                    <input class="form-control" id="disabledInput" type="text" placeholder="Owner's Name here" disabled>
                                </div>
                            </div>

                            <!-- /Owner's Name and Store Name -->

                            <!-- Name -->
                            <div class="col-md-6">

                                <div class="col">
                                    <p class="form-control-static">Name</p>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Store's Name">
                                </div>

                            </div>
                            <!-- /Name -->
                        </div>
                    </div>


                    <!-- Description -->
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="col">
                                    <p class="form-control-static">Description</p>
                                </div>
                                <div class="col">
                                    <textarea class="form-control" id="sdescrip" rows="3" placeholder="Store's Description"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col">
                                    <p class="form-control-static">Industry</p>
                                </div>
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- /Description -->


                    <hr>




                    <div class="row text-center">

                        <button type="submit" class="btn btn-default btn-lg">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

</div>


{% endblock %}