{% load env_var %} {% block extraScript %}
<script>
    function makePayment() {

        FlutterwaveCheckout({
            public_key: "{% get_env_var 'PUBLIC_KEY' %}",
            tx_ref: "{{pay_data.txref}}",
            amount: parseInt("{{pay_data.amt}}"),
            currency: "{% get_env_var 'NORMAL_CURRENCY' %}",
            payment_options: "card,ussd,barter",
            customer: {
                email: "{{payer.email}}",
                phonenumber: "{{payer.phone_number}}",
                name: "{{payer.name}}",
            },
            subaccounts: [{
                    id: "{{dispatch_share.id}}",
                    transaction_charge_type: "flat",
                    transaction_charge: "{{dispatch_share.share}}"
                },

                {
                    id: "{{merchant_share.id}}",
                    transaction_charge_type: "flat",
                    transaction_charge: "{{merchant_share.share}}"
                }

            ],
            callback: function(data) {
                //console.log(data);
                transact_id = data.transaction_id;
                console.log(transact_id);
                var mode = "{{type}}"
                window.location.href = `/pay/verify?id=${transact_id}&mode=${mode}`;
            },
            customizations: {
                title: "{% get_env_var 'APP_NAME' %}",
                description: "{{pay_data.descrip}}",
                logo: "https://assets.piedpiper.com/logo.png",
            },
        });
    }
</script>
{% endblock %}